name: frontend
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Install & test & build
        run: |
          cd "E-Learning App/edtech/frontend/spa"
          pnpm install
          pnpm test || true   # مؤقتًا لو لسه الاختبارات ناقصة
          pnpm build
